.c-sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
}

.backdrop-blur-md {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.cloud {
    opacity: 0.85;
    will-change: transform, opacity;
    animation: fade-in 20s ease-out forwards;
}

.cloud-1 {
    top: 10%;
    width: 50%;
    animation: float-slow 1000s linear infinite;
    transform: translateX(10vw);
}

.cloud-2 {
    top: 45%;
    width: 40%;
    animation: float-medium 300s linear infinite;
    transform: translateX(60vw);
}

.cloud-3 {
    top: 75%;
    width: 35%;
    animation: float-fast 50s linear infinite;
    transform: translateX(75vw);
}

@keyframes float-slow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200vw);
    }
}

@keyframes float-medium {
    from {
        transform: translateX(60vw);
    }
    to {
        transform: translateX(-40vw);
    }
}

@keyframes float-fast {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200vw);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

:root {
    --nav-height: 0px;
}

.calc-height {
    min-height: calc(100vh - var(--nav-height));
}

.pattern-background {
    /* background-image: url('/assets/austria.jpg'); */
    background-color: #ff8a0520;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pattern-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/a-pattern.svg');
    background-repeat: repeat;
    background-position: 0 -8px;
    background-size: 550px auto;
    filter: brightness(0) invert(1);
    opacity: 0.65;
    z-index: 0;
    pointer-events: none;
}

.pattern-background > * {
    position: relative;
    z-index: 1;
}

